@page
@model SGRM.Pages.Fournisseurs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fournisseur</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fournisseur.FournisseurId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fournisseur.FournisseurId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fournisseur.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fournisseur.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Fournisseur.FournisseurId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
