@page
@model SGRM.Pages.Fournisseurs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fournisseurs[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fournisseurs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   RecordOperations.Update)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-page="./Edit" asp-route-id="@item.FournisseurId">Edit</a>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   RecordOperations.Read)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-page="./Details" asp-route-id="@item.FournisseurId">Details</a>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   RecordOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-page="./Delete" asp-route-id="@item.FournisseurId">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>