@page
@model SGRM.Pages.Laboratoires.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Laboratoires[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Laboratoires) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LaboratoireId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LaboratoireId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LaboratoireId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>